<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title><%%= @title ||= "Title" %></title>
    <meta name="description" content="<%%= @description ||= "Description" %>" />
    <meta name="keywords" content="<%%= @keywords ||= "Keywords"%>" />

    <link rel="shortcut icon" href="/favicon.ico" />

    <%- if options.jquery? -%>
    <%%= stylesheet_link_tag :jquery %>
    <%- end -%>
    <%- if options.stylesheet? -%>
    <%%= stylesheet_link_tag "<%= file_name %>" %>
    <%- end -%>
    <%- if options.jquery? -%>
    <%%= javascript_include_tag :jquery_defaults %>
    <%- end -%>
    <%%= csrf_meta_tag %>

    <%%= yield :head %>

  </head>
  <body>
    <%%= yield %>
  </body>
</html>